*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
  background-color: #F2F2F2;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  min-width: min-content;
  background-color: #73462D;
  padding: 0px 40px;
}

.container__logo{
  width: 100%;
}

.container__img{
  height: 80px;
}

.navegacion__opciones, .acceso{
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
}

.navegacion__opcion, .acceso__button{
  padding: 20px;
  cursor: pointer;
  height: 100%;
  transition: 0.25s;
  display: flex;
  align-items: center;
}
.navegacion__opcion:hover{
  background-color: #DF6303;
}

.navegacion__link, .acceso__link{
  text-decoration: none;
  color: #F2F2F2;
  font-weight: 500;
  font-size: 18px;
}

.acceso{
  gap: 20px;
}
.acceso__button{
  height: 70%;
  border-radius: 20px;
  border: none; 
  background-color: #DF6303;
  filter: drop-shadow(0px 4px 2px black);
  border: 2px solid #DF6303;
}
.acceso__button--logIn{
  border-color: #F2F2F2;
}
.acceso__button:hover{
  scale: 1.1;
}

.acceso__link{
  font-size: 15px;
  font-weight: 600;
  color: #F2F2F2;
}

.container{
  height: calc(100vh - 80px);
}