<form class="main__form form" action="" novalidate>
  <h1 class="form__title">Log In</h1>
  <div class="form__space">
    <label class="form__label" for="email">Email:</label>
    <div class="space__input">
      <input class="form__input" type="text" name="email" required>
    </div>
  </div>
  <div class="form__space">
    <label class="form__label" for="contrasena">Contraseña:</label>
    <div class="space__input">
      <input class="form__input" type="text" name="contrasena" required>
    </div>
  </div>
  <button class="form__button" type="submit">Ingresar</button>
</form>